In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier


file_path = r"code\data\Predict-The-Data-Scientists-Salary-In-India_Train_Dataset.csv"
data = pd.read_csv(file_path)

In [9]:
data.columns = data.columns.str.strip()

def get_min_exp(exp):
    try:
        return float(exp.split('-')[0]) if '-' in exp else float(exp)
    except:
        return 0.0

data['min_experience'] = data['experience'].apply(lambda x: get_min_exp(str(x)))
data['min_experience']

0         5.0
1        10.0
2         5.0
3         7.0
4         1.0
         ...
19797    12.0
19798     0.0
19799     8.0
19800     1.0
19801     2.0
Name: min_experience, Length: 19802, dtype: float64

In [8]:
for col in ['location', 'company_name_encoded', 'job_desig', 'job_type']:
    data[col] = LabelEncoder().fit_transform(data[col].astype(str))

data['salary'] = LabelEncoder().fit_transform(data['salary'].astype(str))

data['salary']

0        5
1        1
2        2
3        1
4        4
        ..
19797    2
19798    0
19799    2
19800    1
19801    1
Name: salary, Length: 19802, dtype: int64

In [12]:
X_data = data.drop(['Unnamed: 0', 'experience', 'job_description', 'key_skills', 'salary'], axis=1)
y_data = data['salary']
X_data

       job_desig  job_type  location  company_name_encoded  min_experience
0          10715         5      1057                  2209             5.0
1           5482         5       461                  3311            10.0
2           3997         2       978                  2838             5.0
3            969         2       158                  1523             7.0
4            431         5      1296                  2691             1.0
...          ...       ...       ...                   ...             ...
19797       4275         5      1353                   431            12.0
19798       6921         5       133                  3789             0.0
19799       8574         5      1353                  2933             8.0
19800       3178         5       338                  4906             1.0
19801        952         5      1353                  3224             2.0

[19802 rows x 5 columns]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=42)


rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.3430951779853572